
<ion-header>
    <ion-navbar text-center color="primary">
    <ion-title>Select Location</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar
  [(ngModel)]="searchQuery"
  (ionInput)="onInput($event)">
</ion-searchbar>
<ion-list *ngIf="filterSearch">
  <ion-item *ngFor="let timezone of filterListArray" (click)="selectedTimezone(timezone)">
    <h3>{{ timezone.location }}</h3>
    <p>{{ timezone.value }}</p>
    <p>{{ timezone.abbr }}</p>
  </ion-item>
</ion-list>
<ion-list *ngIf="!filterSearch">
  <ion-item *ngFor="let timezone of timezones" (click)="selectedTimezone(timezone)">
    <h3>{{ timezone.location }}</h3>
    <p>{{ timezone.value }}</p>
    <p>{{ timezone.abbr }}</p>
  </ion-item>
</ion-list>
<ion-infinite-scroll *ngIf="!listEmpty" (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles"
  loadingText="Loading more data..."> 
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
