page-world-clock {
    .worldClock_ion-item{
        font-family: Aldrich;
        position: relative;
        padding: 0px !important;
    }
    .label-md {
        margin: 13px 8px 5px 10px;
    }
    // .toolbar-title-md{
    //     display: flex;
    //     margin-left: 55px;
    // }
    .time-div{
        //float: right;
        padding: 10px 0px;
        p{
            display: inline;
        }
        h2{
            font-size: 20px;
            float: right;
            line-height: 1rem;
        }
    }
    .worldClock-div{
        font-size: 18px;
    }
}
